/**
 * @name Night-Remix
 * @version 1.0
 * @description Dark and compact theme for Vencord
 * @source https://github.com/KillYoy/DiscordNight/
 * @original-author KillYoy#0295 
 * @original-authorId 98468214824001536
 * @author Febera
*/
@import url("https://KillYoy.github.io/DiscordNight/DiscordNight.css");
@import url("https://killyoy.github.io/DiscordNight/Addons/Vanilla_Attachment_Button.theme.css"); 

/* Mute, deafen, settings, and leave call buttons enlargement */
[class="button__4f306 enabled__470f0 button_afdfd9 lookBlank__7ca0a colorBrand_b2253e grow__4c8a4 button__4f306"]{
    padding: 12px;
}
.container_ca50b9 .button__4f306 svg{
    width: 18px;
}
/* First chat message spacing */
[class="channelTextArea__2e60f channelTextArea__56a36"]{
    	margin-top: 8px;
}
/* Read all button from plugin */
[class="button_afdfd9 lookFilled__19298 colorBrand_b2253e sizeMin__94642 grow__4c8a4"]{
	background-color: rgb(42, 42, 42) !important;
	left: -6px;
	bottom: 2px;
	padding: 8px;
	font-size: 12px;
	border-radius: 25px;
}
[class="button_afdfd9 lookFilled__19298 colorBrand_b2253e sizeMin__94642 grow__4c8a4"]:hover{
	background-color: rgb(77, 77, 77) !important;
}
}
/* Icons not showing properly on setting menu */
[role="tab"]:nth-child(2)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/User_Management.svg")!important;
}
[role="tab"]:nth-child(3)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Styles.svg")!important;
}
[role="tab"]:nth-child(4)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Security.svg")!important;
}
[role="tab"]:nth-child(5)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Groups.svg")!important;
}
[role="tab"]:nth-child(6)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Apps.svg")!important;
}
[role="tab"]:nth-child(7)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Screen.svg")!important;
}
[role="tab"]:nth-child(8)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Connection.svg")!important;
}
[role="tab"]:nth-child(9)::before{
    background: url("https://raw.githubusercontent.com/Febera/DiscordNight-Remix/master/Icons/SVG/Clip.svg")!important;
    filter: invert(1) grayscale(1) contrast(1) brightness(2);
    background-repeat: no-repeat !important;
    background-position: 2px 0px !important;
    background-size: 21px !important;
}
[role="tab"]:nth-child(10)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Group.svg")!important;
}
[role="tab"]:nth-child(13)::before{
	background-image: url("https://discord.com/assets/24d05f3b46a110e538674edbac0db4cd.svg")!important;
}
[role="tab"]:nth-child(14)::before{
	background-image: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Boost.svg")!important;
	filter: grayscale(1) contrast(1) brightness(2);
}
[role="tab"]:nth-child(15)::before{
	background: url("https://fonts.gstatic.com/s/i/materialicons/fact_check/v14/24px.svg")!important;
	filter: invert(1);
}
[role="tab"]:nth-child(16)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Present.svg")!important;
}
[role="tab"]:nth-child(17)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Credit.svg")!important;
}
[role="tab"]:nth-child(20)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Formatting.svg")!important;
}
[role="tab"]:nth-child(21)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Accessibility.svg")!important;
}
[role="tab"]:nth-child(22)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Voice.svg")!important;
}
[role="tab"]:nth-child(23)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Messages.svg")!important;
}
[role="tab"]:nth-child(24)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Notification.svg")!important;
}
[role="tab"]:nth-child(25)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Keyboard.svg")!important;
}
[role="tab"]:nth-child(26)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Language.svg")!important;
}
[role="tab"]:nth-child(27)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Windows.svg")!important;
	transform: scale(0.81);
}
[role="tab"]:nth-child(28)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Camera.svg")!important;
}
[role="tab"]:nth-child(29)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory_Board.svg")!important;
}
[role="tab"]:nth-child(32)::before{
	background: url("https://fonts.gstatic.com/s/i/materialicons/workspace_premium/v3/24px.svg")!important;
	filter: invert(1);}
[role="tab"]:nth-child(33)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Plugins.svg")!important;
}
[role="tab"]:nth-child(34)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Theme.svg")!important;
}
[role="tab"]:nth-child(35)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Code.svg")!important;
}
[role="tab"]:nth-child(36)::before{
	background: url("https://raw.githubusercontent.com/Febera/DiscordNight-Remix/master/Icons/SVG/Cloud.svg")!important;
	filter: invert(1);
}
[role="tab"]:nth-child(37)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Delete.svg")!important;
}
[role="tab"]:nth-child(40)::before{
	background: URL("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Security.svg")!important;
}
[role="tab"]:nth-child(41)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Games.svg")!important;
}
[role="tab"]:nth-child(42)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Overlay.svg")!important;
}
[role="tab"]:nth-child(44)::before{
	background: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Logs.svg")!important;
}
[role="tab"]:nth-child(45)::before{
	background-image: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Explore.svg")!important;
}
[role="tab"]:nth-child(46)::before{
	background-image: url("https://raw.githubusercontent.com/Febera/DiscordNight-Remix/master/Icons/SVG/Discord/Hypesquad.svg")!important;
	filter: grayscale(1) brightness(2);
}
[role="tab"]:nth-child(48)::before{
	background-image: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Exit.svg")!important;
	filter: invert(70%) sepia(100%) saturate(1000%) hue-rotate(-30deg);
	opacity: .6;
}
[role="tab"]:nth-child(48):hover{
	color: red!important;
	background-color: rgb(158, 1, 1)!important;
}
[role="tab"]:nth-child(48){
	color: var(--info-danger-foreground);
	background-color: var(--info-danger-background);
}
/* Live text cut off (Transformed into an icon) */
[class="live_b195a5 liveSmall_ca35ec eyebrow__847c8 textBadge__45d79 base__92a12 eyebrow__60985 liveShapeRound__811c0"]{
	color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M5 2a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H5ZM13.5 20a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-.5.5H9a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-1.5Z' style='fill:white'%3E%3C/path%3E%3C/svg%3E") !important;
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	width: 20px !important;
	height: 18px !important;
	margin: 0px !important;
	padding: 11px !important;
	border-radius: 20px !important;
}
